[submodule "WireConnet"]
	path = WireConnet
	url = ../WireConnet.git
[submodule "SRRFtransceiver"]
	path = SRRFtransceiver
	url = ../SRRFtransceiver.git
[submodule "SHTC3x-pigpio"]
	path = SHTC3x-pigpio
	url = ../SHTC3x-pigpio.git
[submodule "TempMon"]
	path = TempMon
	url = ../TempMon.git
[submodule "Dashboard"]
	path = Dashboard
	url = ../Dashboard.git
[submodule "WebControl"]
	path = WebControl
	url = ../WebControl.git
[submodule "SpeedTest"]
	path = SpeedTest
	url = ../SpeedTest.git
[submodule "KeepConnectionOpen"]
	path = KeepConnectionOpen
	url = ../KeepConnectionOpen.git
